<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h2>Perform your Arithmetic Operations here,</h2>
<!--addition-->
<form action="add/" method="get">
    <h3>To Add 2 numbers,</h3>
    <input type="text" name="add1" placeholder="input a value">
    <input type="text" name="add2" placeholder="input a value">
    <input type="submit">
</form>
<!--subtraction-->
<form action="sub/" method="get">
    <h3>To Subtract 2 numbers,</h3>
    <input type="text" name="sub1" placeholder="input a value">
    <input type="text" name="sub2" placeholder="input a value">
    <input type="submit">
</form>
<!--multiplication-->
<form action="mul/" method="get">
    <h3>To Multiply 2 numbers,</h3>
    <input type="text" name="mul1" placeholder="input a value">
    <input type="text" name="mul2" placeholder="input a value">
    <input type="submit">
</form>
<!--division-->
<form action="div/" method="get">
    <h3>To Divide 2 numbers,</h3>
    <input type="text" name="div1" placeholder="input a value">
    <input type="text" name="div2" placeholder="input a value">
    <input type="submit">
</form>
</body>
</html>